
i.dashboard::before {
  content: "\f04c5";
}
i.apps::before {
  content: "\f11da";
}
i.layouts::before {
  content: "\f1486";
}
i.authentication::before {
  content: "\f0b55";
}
i.pages::before {
  content: "\f178f";
}
i.landing::before {
  font-family: remixIcons !important;
  content: "\f096";
}
